# Ignore node_modules directory
node_modules/

# Ignore virtual_environment directory
virtual_environment/
venv/

# Ignore logs and temp files
*.log
*.tmp

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore macOS system files
.DS_Store

# Ignore build artifacts
/build
/dist

# Ignore sensitive files
.env
